{%set page="book"%}
{%include "nav.html"%}

<link rel="stylesheet" href="/book.css">
<link rel="stylesheet" href="/darkmode.css">
<link rel="stylesheet" href="/nav.css">
<button id="theme-switch" title="Toggle Theme">
    <img src="/light_mode.svg" alt="Light Mode" class="theme-icon light-icon">
    <img src="/dark_mode.svg" alt="Dark Mode" class="theme-icon dark-icon">
</button>

<button id="expand-filter">Filters</button>
<section id="filter" class="hidden">
    <div>
        <label for="lengthRange">Length (Hours):</label>
        <input type="range" id="lengthRange" name="lengthRange" min="1" max="24" value="1">
        <span id="lengthDisplay">1 Hour</span>
    </div>
    <div>
        <label for="fromToRange">From (Hour of Day):</label>
        <input type="range" id="fromToRange" name="fromToRange" min="0" max="23" value="-1">
        <span id="fromToDisplay">12:00</span>
    </div>
    <div>
        <label for="buildingSelect">Building:</label>
        <select id="buildingSelect" name="buildingSelect">
            <option value="">Any</option>
        </select>
    </div>
</section>
<button id="pre"><-</button>
<input type="date" value="" id="date">
<button id="next">-></button>
<button id="book">Book</button>

<table id="bookings-table"></table>

<script src="book.js" type="module"></script>
<script src="filter.js" type="module"></script>
<script type="text/javascript" src="darkmode.js" defer></script>