<div id="bookingOverlay" class="overlay">
    <div class="overlay-content">
      <h2 id="booking_id"></h1>
      <table id="booking-table">
        <thead>
          <tr>
            <th>Room   | Time</th>
            <!-- JS will append time slots -->
          </tr>
        </thead>
        <tbody id="booking-body">
          <!-- JS will insert room rows here -->
        </tbody>
      </table>
      <button id="closeOverlayBtn">Close</button>
      <button id="confirmEditBtn">Confirm</button>
    </div>
</div>
<link rel="stylesheet" href="/booking_overlay.css">
<script src="/booking_overlay.js"></script>