<div id="cancelledOverlay" class="overlay">
  <div class="overlay-content">
    <h2>Booking Cancelled</h2>
    <p>Booking ID: <strong id="cancelled-booking-id">#--</strong></p>

    <p>Your Booking has been successfully <strong>Cancelled!</strong></p>

    <div class="overlay-buttons">
      <button id="closeCancelledBtn">Close</button>
      <button id="goToBookingsBtn">Go to Bookings</button>
      <button id="bookMoreBtn">Book Another</button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/booking_cancelled_overlay.css" />
<script src="/booking_cancelled_overlay.js"></script>
