{%set page="book"%}
{%include "nav.html"%}

<link rel="stylesheet" href="book.css">

<button id="expand-filter">Filters</button>
<section id="filter" class="hidden">
    <div>
        <label for="lengthRange">Length (Hours):</label>
        <input type="range" id="lengthRange" name="lengthRange" min="1" max="24" value="1" oninput="updateLengthDisplay(this.value)">
        <span id="lengthDisplay">1 Hour</span>
    </div>
    <div>
        <label for="fromToRange">From (Hour of Day):</label>
        <input type="range" id="fromToRange" name="fromToRange" min="0" max="23" value="12" oninput="updateFromToDisplay(this.value)">
        <span id="fromToDisplay">12:00</span>
    </div>
</section>
<button id="pre"><-</button>
<input type="date" value="" id="date">
<button id="next">-></button>
<button id="book">Book</button>

<table id="bookings-table"></table>

<script src="book.js"></script>
<script src="filter.js"></script>