{%set page="book"%} {%include "nav.html"%} {%include
    "confirmation_overlay.html"%}
<link rel="stylesheet" href="/darkmode.css" />
<link rel="stylesheet" href="/nav.css" />
<select id="roomSelect">
</select>
<input type="text" id="roomCodeInput" placeholder="Enter Room Code" />
<input type="datetime-local" id="dateSelect"/>
<button id="enterRoomBtn">Enter Room</button>
<style href="room.css"></style>
<script src="room.js" type="module"></script>
<script type="text/javascript" src="darkmode.js" defer></script>
    