:root {
  --color-1: #C0C0C0;
  --accent-color-hover: #cc0000;
  --accent-color: #ff0000;
  --base-color: white;
  --text-color: #333333;
  --input-color: #F3F0FF;
  --background-color: rgba(255, 255, 255, 0.95);
}

.darkmode {
  --color-1: #000000;
  --accent-color-hover: #005dd1;
  --accent-color: #0071ff;
  --base-color: #070b1d;
  --text-color: #ffffff;
  --input-color: #101425;
  --background-color: rgba(18, 19, 24, 0.95);
}

.darkmode .wrapper h1,
.darkmode .wrapper p,
.darkmode .modal-content h2,
.darkmode .modal-content {
  color: #ffffff;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border: 2px black;
    border-radius: 50%;
    background-color: var(--input-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.darkmode #theme-switch {
    border-color: white;
}

.theme-icon {
    width: 24px;
    height: 24px;
}

.dark-icon {
    display: none;
}

.darkmode .light-icon {
    display: none;
}

.darkmode .dark-icon {
    display: block;
}