body {
    background-image: url(Background.png);
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-container {
    background: rgba(0, 0, 0, 0.85);
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ccc;
  border-top-color: #4A90E2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
  
